@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.App {
  text-align: center;
}
body {
  background: FDFDFA;
  font-family: lato;
}

.react-datepicker {
  background: rgba(0, 0, 255, 1);
}
